<body>
  <div class="topnav">
    <a class="active" routerLink="">Home</a>
    <a routerLink="admin">Admin</a>
    <a routerLink="/patients/signup">Patients</a>
    <a routerLink="/about">About</a>
  </div>
</body>

<div *ngIf="Introduction">
  <h1 class="mb-4">Welcome to Virtual HealthCare</h1>

  Do you need to see a doctor?
</div>

<div *ngIf="Introduction">
  <button mat-raised-button (click)="OnPatient()">Register</button>
</div>

<div *ngIf="PatientClicked">
  <h3>Welcome to the world of Care - Virtual HealthCare</h3>
  <p>
    Welcome to a world of care and compassion, where your health takes center
    stage. We're here to provide you with personalized medical support and
    guidance every step of the way. Your well-being is our priority, and we're
    excited to embark on this journey together towards a healthier and happier
    you.
  </p>
  <br /><br />
  <button mat-raised-button color="primary" (click)="OnPatientStarted()">
    Get Started
  </button>
</div>
